<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce</title>
</head> 
<body>
    <div class="grid-container">
    <header class="header">
        <div class="brand">
            <button onclick="openMenu()">
             &#9776 
            </button>
        <a href="index.html">Ecommerce</a> 
    </div>
    <div class="header-links">
        <a href="cart.html">Cart</a>
        <a href="signin.html">SignIn</a>

    </div>
    </header>
    <aside class="sidebar">
    <h3>Shopping Categories</h3>
    <button class="sidebar-close-button" onclick="closeMenu()">x</button>
    <ul>
        <li><a href="index.html">Pants</a></li>
        <li><a href="index.html">Shirts</a></li>
    </ul>
</aside>
    <main class="main">
        <div class="content">       
             <Ul class="products">
            <li>
               <div class="product">
              <img class="product-image" src="images/Arthur-Kulkov-American-GQ-Style-008.jpg" alt="Product"/>
              <div class="product-name">
               <a href="product.html">Jacket</a>   
                </div>
               <div class="product-brand">LC</div>
               <div class="price">$50</div>
               <div class="product-rating">5 stars</div>

               </div>
            </li>
            <li>
                <div class="product">
               <img class="product-image" src="images/lucky-blue-smith.jpg" alt="Product"/>
               <div class="product-name">
                <a href="product.html">Jacket</a>   
                 </div>
                <div class="product-brand">LC</div>
                <div class="price">$50</div>
                <div class="product-rating">5 stars</div>
 
                </div>
             </li>
             <li>
                <div class="product">
               <img class="product-image" src="images/portrait-handsome-smiling-stylish-young-man-model-wearing-jeans-clothes-fashion-man_158538-5025.jpg" alt="Product"/>
               <div class="product-name">
                <a href="product.html">Jacket</a>   
                 </div>
                <div class="product-brand">LC</div>
                <div class="price">$50</div>
                <div class="product-rating">5 stars</div>
 
                </div>
             </li>
             <li>
                <div class="product">
               <img class="product-image" src="images/images.jfif" alt="Product"/>
               <div class="product-name">
                <a href="product.html">Jacket</a>   
                 </div>
                <div class="product-brand">LC</div>
                <div class="price">$50</div>
                <div class="product-rating">5 stars</div>
 
                </div>
             </li>
             <li>
                <div class="product">
               <img class="product-image" src="images/Arthur-Kulkov-American-GQ-Style-008.jpg" alt="Product"/>
               <div class="product-name">
                <a href="product.html">Jacket</a>   
                 </div>
                <div class="product-brand">LC</div>
                <div class="price">$50</div>
                <div class="product-rating">5 stars</div>
 
                </div>
             </li>
             
        </Ul>
    </div>

    </main>
    <footer class="footer">
       @ All right reserved 
    </footer>
</div>
<script>
    function openMenu(){
       document.querySelector(".sidebar").classList.add("open")
    }
    function closeMenu(){
      document.querySelector(".sidebar").classList.remove("open")
    }
</script>
</body>
</html>